.body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 800px;
    }
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    .custom-button {
        width: 800px;
        background-color: #08b1c9;
        border: none;
        display: flex; 
        justify-content: center ;
        color: #fff;
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
        font-family: fantasy;
        letter-spacing: 1px;
        font-size: 20px;
      }
    
}

@media screen and (max-width: 1050px) {
    .body-div {
        img {
            width: 600px;
        }
    }
    
    .button-div {
        .custom-button {
            width: 600px;
          }
        
    }
    
}

@media screen and (max-width: 850px) {
    .body-div {
        img {
            width: 400px;
        }
    }
    
    .button-div {
        .custom-button {
            width: 400px;
          }
        
    }
    
}

@media screen and (max-width: 650px) {
    .body-div {
        img {
            width: 300px;
        }
    }
    
    .button-div {
        .custom-button {
            width: 300px;
          }
        
    }
    
}

@media screen and (max-width: 450px) {
    ::ng-deep .sidebar-container {
        display: none;
    }
    .body-div {
        img {
            width: 150px;
        }
    }
    
    .button-div {
        margin-top: 5%;
        .custom-button {
            font-size: 10px;
            width: 150px;
          }
        
    }
    
}