<header>
    <img src="assets/images/rickAndMorty.png" alt="Logo" style="width: 150px;">
    <nav class="d-none">
      <a routerLink="/aboutUs">Hakkımızda</a>
      <a routerLink="/episodes">Bölümler</a>
      <a routerLink="/character">Karakterler</a>
    </nav>
    <div class="social-media">
      <a href="https://www.youtube.com/@adultswim" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://twitter.com/RickandMorty" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/rickandmorty/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/RickandMorty/" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
  </header>