<footer class="footer">
    <div class="container">
      <img src="assets/images/rickAndMorty.png" alt="Footer Resmi" class="footer-img mr-3">
      <div class="social-media mr-3">
        <a href="https://www.youtube.com/@adultswim" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/RickandMorty" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/rickandmorty/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/RickandMorty/" target="_blank"><i class="fab fa-facebook"></i></a>
      </div>
      <nav class="mr-3">
        <a routerLink="/aboutUs">Hakkımızda</a>
        <a routerLink="/episodes">Bölümler</a>
        <a routerLink="/character">Karakterler</a>
      </nav>
      <p>Rick and Morty &copy; Jengal Software 2024</p>
    </div>
  </footer>
  