.characters-container {
  min-height: calc(100vh - 300px);
}

.paginator {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}
// mat-grid-tile {
//     height: calc(430px) !important;
//     padding-top: 0px !important;
// }
.mat-paginator-range-label,
.mat-paginator-page-size-label {
  font-size: 14px;
}

.mat-select-arrow {
  color: #000;
}

button.mat-paginator-navigation-previous,
button.mat-paginator-navigation-next {
  color: #000; /* Önceki ve sonraki buton renkleri */
}

button.mat-paginator-navigation-previous:hover,
button.mat-paginator-navigation-next:hover {
  background-color: transparent; /* Önceki ve sonraki buton hover arka plan rengi */
}

button.mat-paginator-navigation-previous[disabled],
button.mat-paginator-navigation-next[disabled] {
  color: #ccc; /* Devre dışı bırakılmış önceki ve sonraki buton renkleri */
}

// .custom-card {
//     width: 60%;
//   }
  
  .custom-button {
    width: 100%;
    background-color: #08b1c9;
    border: none;
    display: flex; 
    justify-content: center ;
    color: #fff;
    padding: 12px 16px;
    border-radius: 10px;
  }

  .icon-left {
    margin-right: 8px;
  }
  
//   .mat-grid-tile {
//     width: calc(25% - 16px);
//     padding-top: calc(13% - 12px);
//     margin-top: calc(30% + 5px);
//   }

.filter-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f7f7f7;
    span {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    input {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 300px;
    }
    select {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #777070;
        font-weight: bold;
        width: 250px;
    }
  }
  
  .form-group {
    margin-right: 20px;
  }
  
  .form-group label {
    margin-right: 5px;
  }